* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #333;
  color: #ffffff;
  flex-direction: column;
}

.container {
  background-color: #1a1a1a;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
}

h1, h2, h3, p {
  margin-bottom: 15px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 15px;
}

.skill {
  background-color: #4d4d4d;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
}

/* Contact Section */
.contact {
  text-align: center;
}

/* Social Media Icons */
.social-links {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 15px;
}

.social-links a {
  text-decoration: none;
  font-size: 24px;
  color: #ffffff;
}

.social-links a:hover {
  color: #66c0f4; /* Change this color for a different hover effect */
}

/* Mobile Adaptation */
@media screen and (max-width: 600px) {
  .container {
    padding: 20px;
  }
}
